FISHERSCREEN_GCP_PROJECT_ID=fisherscreen-prod
FISHERSCREEN_EDGAR_USER_AGENT=FisherScreen/1.0 stn.mueller@gmail.com
FISHERSCREEN_GEMINI_API_KEY=
FISHERSCREEN_GITHUB_TOKEN=
FISHERSCREEN_GITHUB_REPO=stnmllr/fisherscreen
FISHERSCREEN_GITHUB_BRANCH=main
FISHERSCREEN_GEMINI_SCORE_COLLECTION=dev_gemini_scores
FISHERSCREEN_SCREENER_RUNS_COLLECTION=dev_screener_runs
FISHERSCREEN_TICKER_COLLECTION=dev_ticker_cache
FISHERSCREEN_EDGAR_COLLECTION=dev_edgar_cache
FISHERSCREEN_CROSSHITS_SCORE_THRESHOLD=4.0
FISHERSCREEN_CROSSHITS_MIN_DIMENSIONS=2
FISHERSCREEN_CROSSHITS_CAP=50
FISHERSCREEN_OUTPUT_DIR=output
